<div class="container container-blah">
  <h2>Update My Details</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :first_name %><br />
      <%= f.text_field :first_name %></div>

    <div><%= f.label :last_name %><br />
      <%= f.text_field :last_name %></div>

    <h3>Vocal Snapshot</h3>
    <% if current_user.artist %>
      <%= f.label :artist, "You love singing along to:" %><br>
        <% options = options_from_collection_for_select(@artists, "id", "name", "#{current_user.artist_id}") %>
        <%= f.select :artist_id,  options %>
    <% else %>
      <div>
        <%= f.label :artist, "Who do you love singing along to?" %><br>
        <% options = options_from_collection_for_select(@artists, "id", "name") %>
        <%= f.select :artist_id,  options %>
      </div>
    <% end %>

    <div>If you know your range, enter it in here:</div>

    <div><%= f.label :range_low, "Lowest Note (MIDI)" %><br />
      <%= f.text_field :range_low %></div>

    <div><%= f.label :range_high,"Highest Note (MIDI)" %><br />
      <%= f.text_field :range_high %></div>

    <div><%= f.submit "Update Snapshot", :class => "btn btn-primary" %></div>


    <h3>Account Settings</h3>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :current_password %> <i>(if you changed your email or password)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %></div>

    <div><%= f.submit class: "btn btn-primary" %></div>
  <% end %>
  <hr>
  <h4>Cancel my account</h4>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-default" %></p>

  <%= link_to "Back", :back %>
</div>
