<div class="row">
  <div class="col-xs-12">
    <h2><%= @artist.name %></h2>

    <p>
      Gender: <%= @artist.gender.capitalize %><br>
      Range: <%= midi_to_named(@artist.range_low) %> to <%= midi_to_named(@artist.range_high) %><br>
      Vocal Type: <%= @artist.voice_type.titleize %><br>
      <p>Tags: <%= raw @artist.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
    </p>

    <div class="row">
      <div class="col-xs-12">
        <% @songs.each do |song| %>
          <h4><%= link_to song.title, song_path(id: song.id) %></h4>
        <% end %>
      </div>
    </div>

  </div>
</div>
