<div class="container container-blah">

<h2><%= @page_title %></h2>
  <p>
    <button class="btn btn-sort">
      <%= sortable "title", "title" %>
    </button>

    <button class="btn btn-sort">
      <%= sortable "artists.name", "artist" %>
    </button>

    <button class="btn btn-sort">
      <%= sortable "range_high", "highest note", "desc" %>
    </button>

    <button class="btn btn-sort">
      <%= sortable "range_low", "lowest note" %>
    </button>
  </p>
  <% @songs.each do |song| %>
    <p class="h3"><%= link_to song.title, song_path(song.id) %></p>
    <p class="h4"><%= link_to song.artist_name, artist_path(id: song.artist_id) %></p>
    <p><%= midi_to_named(song.range_low) %> &ndash; <%= midi_to_named(song.range_high) %></p>
    <hr>
  <% end %>
</div>
