<h2>New Song</h2>

<%= form_for @song, url: {action: "create"} do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %><br>

  <%= f.label :artist_name, "Artist" %>
  <%= f.text_field :artist_name %><br>

  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list %>
  <%= f.submit "Create" %>
<% end %>
