<div class="col-xs-12">
<h2><%= @song.title %></h2>

by <%= @song.artist.name %><br><br>

Key: <%= @song.key %><br>
Vocal Range: <%= @song.midi_to_named(@song.range_low) %> to <%= @song.midi_to_named(@song.range_high) %><br>
Tempo: <%= @tempo %>bpm<br>
Genre: ?

</div>
