<div class="container container-blah">
  <div class="col-xs-12">
  <h2><%= @song.title %></h2>

    <%= @song.artist_name %><% if @song.artist.alt_name? %> (of <%= @song.artist.alt_name %>)<% end %>

    <br><br>

  <p>Vocal Range: <%= midi_to_named(@song.range_low) %> to <%= midi_to_named(@song.range_high) %> </p>
  <p>Tempo: <%= @tempo %> bpm </p>
  <p>Key: <%= @key %> </p>
  <p>Tags: <%= raw @song.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

  </div>
</div>
