<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Karao-ke-tsu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
  <% end %>

  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>

<div class="container">


  <h1>Derp Flerp Smerp</h1>

  <h4>
    <%= link_to '(home)', root_path %> .
    <%= link_to '(artists)', artists_path %> .
    <%= link_to '(songs)', songs_path %>
  </h4>

  <%= yield %>


</div>

</body>
</html>
